* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --main-color: #3b988e;
  --second-color: #eaffad;
  --body-text: #8a8a8a;
}

.App {
  margin: auto;
  background-color: white;
}

.page-container {
  max-width: 1300px;
  margin: auto;
  min-height: 80vh;
}
.section-container {
  max-width: 1300px;
  margin: auto;
}

.page-title {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 2rem;
  color: var(--main-color);
  margin: 50px auto;
  text-align: center;
}

.section-title {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 2rem;
  color: var(--main-color);
  margin: 50px auto 20px auto;
  text-align: center;
}

.row-flex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.col-half {
  display: flex;
  flex: 48% 1;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .page-container {
    width: 100%;
    margin: 0;
  }

  .home-title {
    text-align: center;
    margin: 10px auto;
  }
  .col-half {
    flex: 100%;
  }
  .row-flex {
    padding-bottom: 50px;
  }
}
