* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --main-color: #3B988E;
  --second-color: #EAFFAD;
  --body-text: #8A8A8A;
}

.App{
  margin: auto;
  background-color: white;
}

.page-container{
  width: 100%;
  max-width: 1300px;
  margin: auto;
}

.page-title{
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 2rem;
  color: var(--main-color);
  margin: 50px auto 50px auto;
  text-align: center;
}

.section-title{
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 2rem;
  color: var(--main-color);
  margin: 50px auto 20px auto;
  text-align: center;
}

.row-flex{
  width: 100%;
  display: flex;
  flex-wrap: wrap-reverse;
  align-content: stretch;
  justify-content: center;
}
.col-half{
  display: flex;
  flex: 50% none;
  justify-content: center;
}

@media only screen and (max-width: 600px){

  .page-container{
    width: 100%;
    margin: 0;
  }

  .page-title{
    text-align: center;
  }
}
